@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

aside{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: white;
}
aside nav{
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  background-color: yellow;
}
aside .searchbox{
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
aside .searchbox .box{
  align-items: center;
  padding-left: 15px;
  margin-right: 20px;
  height: 55px;
  background-color: #f7f5f5;
  border-radius: 15px;
}
aside .searchbox .box .src{
  width: 30px;
  height: 30px;
  margin-right: 10px;
  color: #848484;
}
aside .searchbox .box input{
  width: 80%;
  border: none;
  background-color: transparent;
}
aside .searchbox .plus{
  width: 30px;
  height: 30px;
  color: #7E98DF;
}
aside nav h3{
  margin: 0;
  font-family: Rubik;
  font-size: 29px;
  font-style: normal;
  font-weight: 500;
  color: #7E98DF;
}
aside .listuser{
  width: 100%;
  margin-top: 20px;
}
aside .listuser img{
  width: 64px;
  height: 64px;
  border-radius: 20px;
  margin-right: 15px;
}
aside .listuser p{
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.sec{
  display: flex;
}
.sec .chatrow{
  padding: 0 0 20px 0;
  margin: 0;
  background-color: #f0efef;
}
.sec .chatrow .chatnav{
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  padding: 0 5%;
  background-color: white;
}
.sec .chatrow .chatnav img{
  height: 64px;
  width: 64px;
  border-radius: 20px;
}
.sec .chatrow .chatnav .menu{
  width: 20px;
  height: 20px;
  border-radius: 0;
  cursor: pointer;
}
.sec .chatrow .chatnav .textbox{
  height: 64px;
  width: 90%;
  margin-left: 20px;
}
.sec .chatrow .chatnav .textbox p{
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.sec .chatrow .chatbox::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sec .chatrow .chatbox {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  padding: 20px 5% 0 5%;
}
.sec .chatrow .chatbox .chatlist img{
  width: 54px;
  height: 54px;
  margin: 0;
  border-radius: 20px;
}
.sec .chatrow .chatbox .chatlist{
  align-items: center;
}
.sec .chatrow .chatbox .chatlist .text{
  padding: 10px 30px;
}
.sec .chatrow .chatbox .chatlist .text p{
  font-family: Rubik;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.16500000655651093px;
  text-align: left;
  color: white;
}


.sec .chatrow .sendbox{
  width: 100%;
  height: 60px;
  padding: 0 5%;
}
.sec .chatrow .sendbox .send{
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  border-radius: 15px;
  padding: 0 10px;
  background-color: #f7f5f5;
}
.sec .chatrow .sendbox .send form{
  width: 80%;
}
.sec .chatrow .sendbox .send form input{
  height: 60px;
  width: 100%;
  border: none;
  background-color: transparent;
  padding-left: 20px;
}
.sec .chatrow .sendbox .send .rowbox{
  display: flex;
  justify-content: center;
  width: 20%;
}
.sec .chatrow .sendbox .send .rowbox .imgbox{
  width: 31%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec .chatrow .sendbox .send .rowbox .imgbox img{
  width: 23px;
  height: 23px;
}
.sec .chatrow .sendbox .send .rowbox .imgbox .round{
  position: absolute;
  width: 11px;
  height: 11px;
}


.sec .profilesender{
  width: 30%;
  flex-direction: column;
  background-color: white;
}
.sec .profilesender .navprofile{
  margin: 0;
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  background-color: violet;
}
.sec .profilesender .navprofile p{
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  color: #7E98DF;
}
.sec .profilesender .navprofile p strong{
  margin-right: 20px;
}
.sec .profilesender .profilebox{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec .profilesender .profilebox img{
  width: 82px;
  height: 82px;
  border-radius: 30px;
}
.sec .profilesender .profilebox .textbox{
  width: 100%;
  padding: 0 5%;
  margin-top: 20px;
  background-color: #7E98DF;
}
.sec .profilesender .profilebox .textbox p{
  font-family: Rubik;
  font-size: 22px;
  margin: 0;
  font-style: normal;
  font-weight: 500;
}